html {
    height: 100%; /* This sets it to the full height of the device screen */
}

body {
    height: 100%;
    font-size: 13px;
    margin: 0;
    background-color: hsl(210, 46%, 95%);
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* <weight>: Use a value from 200 to 800 */
.manrope-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

p,
h2 {
    margin: 0;
}

.container {
    max-width: 85%;
    display: flex;
    flex-direction: column;
}

.image-container {
    height: 250px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2em;
    background-color: #ffffff;
}

.content-container > h2 {
    color: hsl(217, 19%, 35%);
}

.content-container > p {
    color: hsl(214, 17%, 51%);
}

.share-container {
    position: relative;
    padding: 1.5em 2em;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

.article-info,
.article-share {
    display: flex;
    gap: 17.5px;
}

.article-author-image {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-author-image > img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
}

.article-author-and-date {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article-author-and-date > p:nth-child(1) {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.article-author-and-date > p:nth-child(2) {
    color: hsl(214, 17%, 51%);
}

.article-share-button {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-share-button > img {
    padding: 2vw;
    border-radius: 50%;
}

.share-message {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-message > p {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: hsl(212, 23%, 69%);
}

.share-icons {
    width: 55%;
    display: flex;
    align-items: center;
    gap: 17.5px;
}

.share-icons > img:hover,
.article-share-button > img:hover {
    cursor: pointer;
}

img[alt="facebook-icon"],
img[alt="pinterest-icon"] {
    width: 22px;
    height: 22px;
}

img[alt="twitter-icon"] {
    width: 22px;
    height: 19px;
}
